    container {
      flex: 1;
      background-color : '#fff';
      align-items: 'center';
      justify-content: 'center';
    }

    h1 {
      background-color: '#fff' ;
      align-items : 'center' ;
      justify-content: 'center';
      margin : 0 10 0 10 ;
    }
